# FastAPI and Web Dependencies
fastapi>=0.110.0
uvicorn
jinja2
python-multipart
python-dotenv
requests

# Async and Database
asyncpg
sqlalchemy>=1.4.54
alembic
psycopg[binary]

# Pydantic (for data validation)
pydantic[email,timezone]>=2.5.0

# Redis Task Queue
redis>=5.1.1
rq
rq-scheduler

# Data Processing
numpy>=1.26.4
pandas>=2.2.2
pendulum>=3.0.0
apache-airflow>=2.10.5
alembic>=1.15.1


# Vector Search
qdrant-client>=1.13.0
fastembed
sentence-transformers>=3.4.1

# AI & ML
transformers
google-genai>=1.5.0
google-cloud-translate>=3.15.3
google-cloud-texttospeech

# PDF & Markdown Handling
markdown
pypdl
gdown
pymupdf

# Media Processing
opencv-python-headless
moviepy