<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Micro Learning Mindmap</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="/resources/css/microlearning.css" rel="stylesheet" />
    <link href="/resources/css/quizz.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js"></script>
    <script type="module">
      import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs";
      mermaid.initialize({ startOnLoad: true });
    </script>

    <style></style>
  </head>
  <body class="container py-5">
    <h1 class="text-center">Micro Learning Mindmap with AI</h1>

    <!-- Navigation Menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#" id="login-menu"
                >Interative Mindmap
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="popular-menu"
                >Popular Mindmaps</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="create-menu">Create a Mindmap</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <hr />

    
    <div class="mb-3">

      <div>
          <label for="categorySelect" class="form-label fw-bold">Select a category for AI Agent:</label>
          <select class="form-select" id="categorySelect">
              <option value="general-knowledge">General Knowledge</option>
              <option value="education">Education</option>
              <option value="retail-marketing">Retail & Marketing</option>
              <option value="data-analytics">Data Analytics</option>
              <option value="company-culture">Company Culture</option>
              <option value="sales-skills">Sales Skills</option>
          </select>
      </div>
      <br />
      <label for="mindmap-input" class="form-label fw-bold"
        >Ideas for Mindmap:</label
      >
      <textarea id="mindmap-input" class="form-control" rows="3">
Microlearning</textarea
      >
      <br />

      <label for="mindmap-code" class="form-label fw-bold">
        Mindmap Code:</label
      >
      <textarea id="mindmap-code" class="form-control" rows="8">
        mindmap
        root((Microlearning))
          Cơ bản
            Bài học ngắn
            Chủ đề trọng tâm
            Thân thiện với thiết bị di động
          Lợi ích
            Học nhanh hơn
            Tương tác cao hơn
            Nhớ lâu hơn
          Định dạng
              Short Video
              Visual Mindmap
              Mini Test
              Flashcard
          Trường hợp sử dụng
              Đào tạo nhân viên
              Phát triển kỹ năng
              Phát triển bản thân
  </textarea
      >
    </div>

    <div class="mt-4 border p-3">
      <div class="controls">
        <button
          id="render-btn"
          class="btn btn-primary"
          style="margin-right: 10px"
        >
          Generate Learning Content
        </button>
        <button id="zoom-in" class="btn btn-info">Zoom In</button>
        <button id="zoom-out" class="btn btn-info">Zoom Out</button>
      </div>
      <hr />

      <!-- Mermaid diagram will be rendered here -->
      <h2 class="text-center">Learning Mindmap</h2>

      <div class="mermaid-wrapper">
        <div id="mermaid-container" class="mermaid" style="display: none"></div>
      </div>
      <hr />

      <!-- Video will be rendered here -->
      <h2 class="text-center">Summary Video</h2>
      <div>
        <div class="ratio ratio-16x9">
          <video controls id="summary_video" style="display: none">
            <source src="" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>

      <hr />
      <!-- Quizz will be rendered here -->
      <h2 class="text-center">Quizz</h2>
      <div id="quizz_container">
        <!-- Quizz BEGIN HTML -->

        <div class="question" id="question1">
          <p>Đặc điểm chính của Microlearning là gì?</p>
          <div class="options">
            <div class="option">
              <label>
                <input type="radio" name="q1" value="a" />A. Bài học dài và toàn
                diện</label
              >
            </div>
            <div class="option">
              <label>
                <input type="radio" name="q1" value="b" />B. Bài học ngắn và tập
                trung.</label
              >
            </div>
            <div class="option">
              <label>
                <input type="radio" name="q1" value="c" />C. Bao gồm nhiều chủ
                đề khác nhau</label
              >
            </div>
            <div class="option">
              <label>
                <input type="radio" name="q1" value="d" />D. Chỉ dành cho thiết
                bị máy tính để bàn.</label
              >
            </div>
          </div>
        </div>

        <div class="question" id="question2">
          <p>Theo sơ đồ tư duy, lợi ích chính của Microlearning là gì?</p>
          <div class="options">
            <div class="option">
              <label>
                <input type="radio" name="q2" value="a" />A. Giảm tương
                tác</label
              >
            </div>
            <div class="option">
              <label>
                <input type="radio" name="q2" value="b" />B. Học chậm
                hơn.</label
              >
            </div>
            <div class="option">
              <label>
                <input type="radio" name="q2" value="c" />C. Nhớ lâu hơn</label
              >
            </div>
            <div class="option">
              <label>
                <input type="radio" name="q2" value="d" />D. Khối lượng thông
                tin thấp hơn.</label
              >
            </div>
          </div>
        </div>

        <div class="question" id="question3">
          <p>Đâu là một định dạng của Microlearning được liệt kê?</p>
          <div class="options">
            <div class="option">
              <label>
                <input type="radio" name="q3" value="a" />A. Sách giáo
                khoa</label
              >
            </div>
            <div class="option">
              <label>
                <input type="radio" name="q3" value="b" />B. Visual
                Mindmap.</label
              >
            </div>
            <div class="option">
              <label>
                <input type="radio" name="q3" value="c" />C. Hội thảo</label
              >
            </div>
            <div class="option">
              <label>
                <input type="radio" name="q3" value="d" />D. Bài nghiên
                cứu.</label
              >
            </div>
          </div>
        </div>

        <div class="question" id="question4">
          <p>
            Trường hợp sử dụng phổ biến của Microlearning, được mô tả trong sơ
            đồ tư duy, là gì?
          </p>
          <div class="options">
            <div class="option">
              <label>
                <input type="radio" name="q4" value="a" />A. Viết tiểu
                thuyết</label
              >
            </div>
            <div class="option">
              <label>
                <input type="radio" name="q4" value="b" />B. Thiết kế kiến
                trúc.</label
              >
            </div>
            <div class="option">
              <label>
                <input type="radio" name="q4" value="c" />C. Đào tạo nhân
                viên</label
              >
            </div>
            <div class="option">
              <label>
                <input type="radio" name="q4" value="d" />D. Thủ tục phẫu
                thuật.</label
              >
            </div>
          </div>
        </div>

        <div class="question" id="question5">
          <p>
            Dựa trên sơ đồ tư duy, tính thân thiện với thiết bị di động có được
            coi là một đặc điểm chính của Microlearning không?
          </p>
          <div class="options">
            <div class="option">
              <label> <input type="radio" name="q5" value="a" />A. Có</label>
            </div>
            <div class="option">
              <label> <input type="radio" name="q5" value="b" />B. Không</label>
            </div>
            <div class="option">
              <label>
                <input type="radio" name="q5" value="c" />C. Chỉ dành cho định
                dạng video</label
              >
            </div>
            <div class="option">
              <label>
                <input type="radio" name="q5" value="d" />D. Chỉ dành cho các
                bài kiểm tra.</label
              >
            </div>
          </div>
        </div>

        <!-- Quizz END HTML -->
      </div>
    </div>

    <script src="/resources/js/resynnap.microlearning.js" async></script>
  </body>
</html>
